/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

/**************************/
/* BELOW 544px (Phones) */
/**************************/



@media (max-width:34rem) {


    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
    }

    .main-nav {
        display: none;
        /* background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;


        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;*/



    }

    .btn-mobile-nav {
        display: block;
    }

    .main-nav-list {
        flex-direction: column;
    }

    .grid-2-colls,
    .grid-3-colls,
    .grid-4-colls {
        grid-template-columns: 1fr;
    }


    .hero {
        flex-direction: column;
    }

    .hero-img {
        grid-row: 1;
    }

    .delivered-products {
        display: none;
    }

    /*   .step-img-box {
        display: none;
    }*/


    .step-img-box:nth-child(2) {
        grid-row: 1;
    }

    .step-img-box:nth-child(6) {
        grid-row: 5;
    }

    section {
        padding: 5.4rem 0;
    }

    h2 {
        margin-bottom: 8.4rem;
    }

    .cta {
        grid-template-columns: 1fr;
    }

    .cta-text-box {
        padding: 3.2rem;
    }

    .cta-img-box {
        height: 32rem;
        grid-row: 1;
    }

    .btn--form {
        margin-top: 1.2rem;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }

    .hero-description {
        text-align: center;
    }

    .hero-img {
        width: 60%;
    }

    footer {
        text-align: center;
    }

}